main {
    font-size: 18px;
}

.flexboxcontainer > :nth-child(4) {
    width:97%;
    border-radius: 5px;
}

.flexboxcontainer > h1 {
    width:fit-content;
    margin: 0.5em;
}

.flexboxcontainer > p {
    margin-left:1em;
    margin-right:1em;
}
.flexboxcontainer {
    min-width: 700px;
    max-width: 60em;
    display: flex;
    flex-direction: column;
    margin-top:1em;
    margin-bottom:1em;
    margin-left:auto;
    margin-right:auto;
    align-items: center;
    background-color: #f7f7f7;
    box-shadow: 0px 4px 8px #71797e7d;
    border-radius: 0.5em;
    background-image: url("/img/brushed_alu.png");
    background-size: 150%;
}


.flexboxcontainer > * {
    margin:1em;
}

.flexboxcontainer > div > img {
    width:32%;
    height:100%;
    border-radius: 0.5em;
}

.flexboxcontainer .small > * {
    height: 10em;
    width: 10em;
}

.cpu-container {
    display: flex;
    align-items: center;
    background-color: #1f568f;
    color:white;
    border-radius: 0.5em;
    box-shadow: 0px 1px 4px #71797e7d;
}

.cpu-container p {
    margin-left: 1em;
    padding-top:0.5em;
}

.cpu-container img {
    margin-left:0.5em;
    border-radius: 0em 0.5em 0.5em 0em;
}

.product-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 1px 4px #71797e7d;
    border-radius: 0.5em;
    padding:0.5em;
}

.product-container > div > img {
    border-radius: 0.5em 0em 0em 0.5em;
}
.flexboxcontainer:last-child  > .productimages {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

@media (max-width: 700px) {
    .cpu-container {
      flex-direction: column;
      padding-top:1em;
      width: 100%;
      border-radius: 0em;
    }

    .cpu-container > .flexboxitem.small > img {
        margin-top: 1em;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0em;
    }

    .product-container {
        display: flex;
        flex-direction: column-reverse;
        padding:1em 0em;
        border-radius: 0em;
        width: 100%;
        padding-left: 1em;
        padding-right: 1em;
    }

    .flexboxcontainer {
        min-width: 94vw;
    }

    .flexboxcontainer:last-child  > .productimages {
        flex-direction: column;
    }
    .flexboxcontainer .small > * {
        width: 100%;
        height: auto;
    }
  }