.product-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  box-shadow: 0px 0px 4px 4px #141315, 0px 0px 8px 8px #808076;
  justify-content: space-between;
  border-radius: 0.5em;
}

.product-price-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
}

.product-card-container img {
  width: 100%;
  border-radius: 0.5em 0.5em 0em 0em;
}

h3 {
  padding-left: 1rem;
}

.usp-container {
  padding-left: 2rem;
  margin-top: 1rem;
}

.usp-container > li:nth-child(odd) {
  background-color: #f1f1f1;
}

.desktop-card-container > div:nth-child(2) > ul > li:nth-child(7),  
.desktop-card-container > div:nth-child(3) > ul > li:nth-child(7)
{margin-top: 0.5em;}

.card-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
}

.info-btn {
  background-color: #1f568f;
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #141315;
}

.btns-card1 {
  margin-top: 2rem;
}
.btns-card2 {
  margin-top: 1.2rem;
}

.info-btn a {
  text-decoration: none;
  color: white;
}
.buy-btn {
  color: white;
  background-color: #008954;
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #141315;
}

.buy-btn:active {
  background-color:#F6BE0E;
  color:black;
}

@media (min-width: 700px) {
  .desktop-card-container {
    display: flex;
    justify-content: center;
    max-width: 80em;
  }

  main {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .card-button-container {
    justify-content: space-between;
  }
}
