h1 {
  font-size: 3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

h2 {
  margin-top: 0.5em;
}

h3 {
  padding-top: 0.2em;
}

/* main {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.flexboxcontainer {
  /* min-width: 50%; */
  display: flex;
  flex-direction: column;
  /* margin-top: 1em;
  margin-bottom: 1em; */
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  /* box-shadow: 4px 4px 6px #966f33; */
  /* border-radius: 0.5em; */
  /* padding-top: 1em; */
  /* padding-bottom: 1em; */
}

.flexboxcontainer-firstsection {
  background-color: #966f33;
  color: white;
  border-radius: 0.5em;
  box-shadow: 4px 4px 8px #141315;
  width: 43em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.flexboxcontainer-secondsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #966f33;
  color: white;
  border-radius: 0.5em;
  box-shadow: 4px 4px 8px #141315;
  width: 43em;
  /* text-align: center; */
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.inputforms {
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  /* gap: 2em; */
  justify-content: space-between;
  width: 80%;
}

.name-input {
  height: 3em;
  /* box-shadow: 0px 4px 8px #71797e7d; */
  /* border-radius: 0.5em; */
  padding-left: 0.5em;
}
.mail--input {
  height: 3em;
  /* box-shadow: 0px 4px 8px #71797e7d; */
  /* border-radius: 0.5em; */
  padding-left: 0.5em;
}

.question-input {
  margin: 1em;
  height: 10em;
  width: 80%;
  resize: none;
  box-shadow: 0px 4px 8px #71797e7d;
  /* border-radius: 0.5em; */
  padding: 0.5em;
}

.flexboxcontainer-secondsection button {
  height: 3em;
  width: 8em;
  border: none;
  border-radius: 0.5em;
  background-color: #aa1b1b;
  color: white;
  box-shadow: 0 4px 8px rgba(20, 19, 21, 0.1);
}

.flexboxcontainer-secondsection button:hover {
  box-shadow: 0 4px 8px rgba(20, 19, 21, 0.25);
}

.flexboxcontainer-thirdsection {
  color: rgb(0, 0, 0);
  border-radius: 0.5em;
  box-shadow: 4px 4px 8px #141315;
  width: 43em;
  margin-top: 1em;
  margin-bottom: 3em;
  height: fit-content;
}

.flexboxcontainer-thirdsection > h3 {
  padding: 0.5em;
}

.flexboxcontainer-thirdsection > a > img {
  width: 100%;
  border-radius: 0.5em 0.5em 0em 0em;
  border-bottom: 0.5px solid #141315;
}

@media (max-width: 700px) {
  .flexboxcontainer {
    width: 95vw;
  }

  .flexboxcontainer-firstsection {
    width: 95%;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .flexboxcontainer-secondsection {
    width: 95%;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .flexboxcontainer-thirdsection {
    width: 95%;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .flexboxcontainer-secondsection > h2 {
    font-size: 2em;
    padding-bottom: 0.5em;
  }

  .inputforms {
    font-size: 1em;
    font-family: inherit;
    flex-wrap: wrap;
  }

  .input-form-name {
    width: 100%;
  }

  .name-input {
    margin-bottom: 0.5em;
    width: 100%;
  }

  .input-form-mail {
    width: 100%;
  }
  .mail--input {
    width: 100%;
  }

  .contact-btn {
    height: 3em;
    width: 8em;
    border: none;
    border-radius: 0.5em;
    background-color: #aa1b1b;
    color: white;
    box-shadow: 0px 4px 8px #71797e7d;
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
}
