h2 {
    margin-top:0.5em;
}

main {
    height: fit-content;
}

.flexboxcontainer {
    max-width: 50em;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    margin-top:1em;
    margin-bottom:1em;
    margin-left:auto;
    margin-right:auto;
    align-items: center;
    background-color: #f7f7f7;
    box-shadow: 0px 4px 8px #71797e7d;
    border-radius: 0.5em;
}

.flexboxcontainer-firstsection {
    /* background-color: #966F33; */
    /* color:white; */
    border: 0.5em solid #966F33;
    border-style: inset;
    border-radius: 0.5em;
    border-color: #966F33;
    box-shadow: 0px 4px 8px #71797e7d;
    width: 70%;
    text-align: center;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.flexboxcontainer-secondsection {
    background-color: #ffffff;
    /* color:white; */
    border: 0.5em solid #966F33;
    border-style: inset;
    border-radius: 0.5em;
    box-shadow: 0px 4px 8px #71797e7d;
    width: 70%;
    text-align: center;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
}

.inputforms {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    
}

.name-input {
    height: 2em;
    width: 80%;
    /* box-shadow: 0px 4px 8px #966F33; */
    border-radius: 0.5em;
    padding-left:0.5em;
    border-color: #966F33;
}
.mail--input {
    height: 2em;
    width: 80%;
    /* box-shadow: 0px 4px 8px #966F33; */
    border-radius: 0.5em;
    padding-left:0.5em;
    border-color: #966F33;
}


.question-input {
    margin: 1em;
    height: 10em;
    width: 80%;
    /* box-shadow: 0px 4px 8px #966F33; */
    border-radius: 0.5em;
    padding-left:0.5em;
    border-color: #966F33;
}

button {
    height: 3em;
    width: 8em;
    border: none;
    border-radius: 0.5em;
    background-color: #aa1b1b;
    color:white;
    /* box-shadow: 0px 4px 8px #966F33; */
}

@media (max-width: 700px) {
    .flexboxcontainer {
        width: 85vw;
    }
    .name-input {
        font-size: 1.5em;
    }
    .mail--input {
        font-size: 1.5em;
    }
    .question-input {
        font-size: 1.5em;
    }
    button {
        height: 3em;
        width: 8em;
        border: none;
        border-radius: 0.5em;
        background-color: #aa1b1b;
        color:white;
        box-shadow: 0px 4px 8px #71797e7d;
        font-size: 1.5em;
    }
  }