h1 {
  text-align: center;
  padding-top: 1em;
}

p {
  margin-top: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 1em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  align-items: center;
  position: relative;
  height: 100%;
}

/*_____Välkommen-sektion från och med denna rad____________*/

.greetings-card-content {
  border: 0.5px 0px solid #71797e30;
  box-shadow: 0px 4px 6px #71797e7d;
  margin-top: 1em;
  padding-bottom: 2em;
  border-radius: 0.5em;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-self: center;
}

.greetings-card-content > img {
  max-width: 100%;
  border-radius: 0.5em 0.5em 0em 0em;
}
.greetings-card-content > p {
  margin-top: 1em;
}

/*_____TEAM-sektion från och med denna rad____________*/

.section-team-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  gap: 1.5em;
}

.section-team-container-staffcard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rubrik-team {
  justify-self: flex-start;
  text-align: center;
  width: 100%;
}

.section-team-container-staffcard > img {
  max-width: 80%;
}

.name,
.job {
  font-weight: bold;
}

.mail > * {
  font-size: 1em;
}

span {
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}

.mail > a {
  text-decoration: none;
  padding: 1em;
}

.section-team-container a:hover {
  color: #008954;
}

.button:active {
  background: linear-gradient(#ffffff, 90%, #71797e);
}

@media (min-width: 1200px) {
  main {
    flex-direction: row;
  }
  .section-team-container-staffcard {
    max-width: 33%;
  }
}

@media (max-width: 1200px) {
  .mail a {
    font-size: large;
  }
}
