.checkout-form {
  margin: 2rem auto;
  max-width: 30rem;
  box-shadow: 4px 4px 6px #966f33;
}

.form-input-container {
  position: relative;
  margin: 2rem;
  border: 2px solid #141315;
}

.form-input-container label {
  position: absolute;
  top: -0.7rem;
  left: 1rem;
  padding: 2px;
  background-color: white;
  /* z-index: 1; */
}

.form-input-container input {
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
}

input::placeholder {
  color: rgb(180, 175, 175);
}

.form-input-container select {
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
}

legend {
  font-size: 1.1rem;
  font-weight: 600;
  color: #141315;
}

@media (max-width: 500px) {
  .checkout-form {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.pay-btn-container {
  display: flex;
  justify-content: space-around;
  padding: 5rem;
}

.pay-btn-container > div {
  padding: 1rem;
  box-shadow: 4px 4px 6px #141315;
}
.pay-btn-container a {
  text-decoration: none;
  color: white;
}

.back-btn {
  background-color: #1f568f;
}
.buy-now-btn {
  background-color: #008954;
}
