* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gothic", sans-serif;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  box-shadow: inset 0px 0px 8px #1f568f;
}

input:invalid {
  box-shadow: inset 0px 0px 8px #aa1b1b;
}
input:invalid:required,
select:required {
  box-shadow: inset 0px 0px 8px #f6be0e;
}
input::placeholder,
input::-ms-value {
  color: rgb(180, 175, 175);
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

main {
  position: relative;
  grid-area: main;
}

/* ----------------------- CHAT ------------------ */

.chat-icon {
  position: fixed;
  right: 1rem;
  bottom: 10rem;
  z-index: 110;
  opacity: 0.9;
}

.chat-checkbox {
  position: fixed;
  display: block;
  height: 5rem;
  width: 5rem;
  right: 2.5rem;
  bottom: 11.8rem;
  opacity: 0;
  z-index: 110;
  cursor: pointer;
}

.chat-modal {
  height: 400px;
  width: 250px;
  border: 1px solid #141315;
  border-right: none;
  background-color: white;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: -4px 4px 6px #141315;
  position: fixed;
  z-index: 110;
  right: 0;
  bottom: 20rem;
  transform: translateX(150%);
  transition: transform 500ms ease-in-out;
}
.chat-modal > p {
  background-color: #1f568f;
  color: white;
  border-radius: 8px;
  padding: 0.5rem;
}

.chat-modal input {
  padding: 0.5rem;
  border: none;
  border-top: 1px solid #141315;
}

#chat-button:checked ~ .chat-modal {
  transform: translateX(0%);
  visibility: visible;
}

/* ------------------------------- BACKDROP --------------------------------- */
.backdrop {
  display: none;
  position: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background: #141315;
  transition: opacity 200ms linear;
}
/*  -------------------- HEADER -------------------------------  */
.main-header {
  grid-area: header;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #966f33;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.main-nav-container {
  display: none;
}

.main-nav-items {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-top: 1rem;
}

.main-nav-item {
  min-width: 100px;
}

.main-header-customer {
  display: flex;
  cursor: pointer;
}

.main-header-customer-item {
  display: flex;
  margin: auto;
}

.burger-logo-container {
  display: flex;
  align-items: center;
}

.burger-menu-button {
  width: 2.7rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  margin-left: 1rem;
}

.burger-bar {
  width: 100%;
  height: 0.3rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.burger-menu-button .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.burger-menu-button .line2 {
  transition: transform 0.2s ease-in-out;
}
.burger-menu-button .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

#burger-button:checked ~ .mobile-nav {
  transform: translateX(0);
}
#burger-button:checked ~ .burger-logo-container .burger-menu-button .line1 {
  transform: rotate(45deg);
}
#burger-button:checked ~ .burger-logo-container .burger-menu-button .line2 {
  transform: scaleY(0);
}
#burger-button:checked ~ .burger-logo-container .burger-menu-button .line3 {
  transform: rotate(-45deg);
}
#burger-button:checked ~ .backdrop {
  display: block;
  opacity: 0.2;
}

.main-header-logo img {
  height: 5rem;
  vertical-align: middle;
}

.main-nav-item a {
  background-color: #1f568f;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  margin: auto;
}

.main-nav-item *:hover {
  background-color: #f6be0e;
  color: #141315;
  transition: 500ms ease-in;
}

.main-header .checkbox {
  position: absolute;
  display: block;
  height: 4rem;
  width: 3rem;
  top: 0.5rem;
  left: 1rem;
  opacity: 0;
  z-index: 100;
  cursor: pointer;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  background-color: #966f33;
  width: fit-content;
  height: 30rem;
  z-index: 75;
  box-shadow: 4px 4px 8px #141315;
  position: fixed;
  left: 0;
  top: 5rem;
  transform: translateX(-150%);
  transition: transform 500ms ease-in-out;
}

.mobile-nav-items {
  list-style: none;
}
.mobile-nav-items a {
  text-decoration: none;
  font-size: larger;
  color: #141315;
}

.mobile-nav-item:hover {
  background-color: #808076;
}

.mobile-nav-item {
  padding: 1rem;
  border: 2px solid #141315;
  box-shadow: inset 0px 0px 8px 2px #141315;
}

.mobile-nav-items li + li {
  border-top: none;
}

.main-header-customer img {
  height: 2.5rem;
  vertical-align: middle;
}

.main-header-customer {
  margin-right: 1rem;
}

.search-icon,
.profile-icon {
  display: none;
}

.cart-checkbox {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 3rem;
  width: 3rem;
  opacity: 0;
  cursor: pointer;
  z-index: 100;
}

.cart-checkbox:checked ~ .cart-modal-container {
  /* transform: translateX(0); */
  display: flex;
}
.cart-checkbox:checked ~ .backdrop-cart {
  /* transform: translateX(0); */
  display: block;
}

.article1-delete-btn:checked ~ h3 {
  display: none;
}
.article2-delete-btn:checked ~ h3 {
  display: none;
}

.article2-delete-btn:checked + .order-total {
  display: none;
}

.article1-delete-btn:checked,
.article2-delete-btn:checked {
  display: none;
}

.cart-modal-container {
  position: absolute;
  background-color: white;
  border: 1px solid #141315;
  top: 500%;
  left: 30%;
  right: 30%;
  min-height: fit-content;
  max-width: 40rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  z-index: 100;
  /* transform: translateX(-200%); */
}

.backdrop-cart {
  display: none;
  position: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background: #141315;
  transition: opacity 200ms linear;
}

.cart-modal-container h1,
.cart-modal-container h3 {
  padding: 1rem;
}

.cart-modal-container input {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;
  opacity: 0;
  cursor: pointer;
}

.order-overview-container {
  display: flex;
  flex-direction: column;
}

.order-overview-container > div {
  border-bottom: 1px solid #141315;
  flex-wrap: wrap;
}

.cart-modal-heading {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.cart-modal-article1 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.cart-modal-article2 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.order-total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.price1,
.price2 {
  display: none;
}

.cart-btn-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 5rem;
}

.cart-btn {
  border: 1px solid #141315;
  padding: 1rem;
  box-shadow: 4px 4px 6px #141315;

  position: relative;
}

.cart-btn > a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.continue-btn {
  background-color: #1f568f;
}

.checkout-btn {
  background-color: #008954;
}

/* ---------------------FOOTER----------------------------------- */

footer {
  grid-area: footer;
  margin-top: 1rem;
}
.input-container {
  display: flex;
  gap: 0.5rem;
}

.input-container input {
  padding-left: 0.2rem;
}

.mail-input::placeholder {
  color: rgb(212, 208, 208);
}
.mail-input:focus {
  box-shadow: inset 0px 0px 8px #1f568f;
}

.sub-button {
  background-color: #aa1b1b;
  padding: 0.5rem;
  border-radius: 8px;
}

.footer-logos-container {
  display: flex;
  justify-content: space-evenly;
}

.socials-logo {
  display: flex;
  filter: invert(100%) sepia(0%) saturate(100000%) hue-rotate(0deg)
    brightness(10000%) contrast(200%);
  height: 30px;
}

.socials-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
}

.socials-container > h4 {
  color: white;
}

.footer-links-container {
  margin: 1rem;
  display: none;
}

.footer-links-items {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
}

.footer-links-items a {
  text-decoration: none;
  color: white;
}

.footer-link-item a:hover {
  color: #f6be0e;
}

.footer-container {
  background-color: #141315;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

@media (min-width: 700px) {
  .main-nav-container {
    display: block;
  }
  .burger-menu-button {
    display: none;
  }
  .main-header .checkbox {
    display: none;
  }
  .mobile-nav {
    visibility: hidden;
  }
  .footer-links-container {
    display: block;
  }
  .footer-container {
    justify-content: space-between;
  }
}
