* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gothic", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}
/* header {
  grid-area: header;
  
} */
main {
  position: relative;
  grid-area: main;
}
footer {
  grid-area: footer;
}

/* body {

  background-color: red;
} 
Testing linked ok!!*/
/*  -------------------- HEADER -------------------------------  */
.main-header {
  grid-area: header;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #966f33;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.main-nav-container {
  display: none;
}

.main-nav-items {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-top: 1rem;
}

.main-nav-item {
  min-width: 100px;
}

.main-header-customer {
  display: flex;
  cursor: pointer;
}

.main-header-customer-item {
  display: flex;
  margin: auto;
}

.burger-logo-container {
  display: flex;
  align-items: center;
}

.burger-menu-button {
  width: 2.7rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  margin-left: 1rem;
}

.burger-bar {
  width: 100%;
  height: 0.3rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.main-header-logo img {
  height: 5rem;
  vertical-align: middle;
}

.main-header-customer img {
  height: 2.5rem;
  vertical-align: middle;
}

.main-header-customer {
  margin-right: 1rem;
}

.search-icon,
.profile-icon {
  display: none;
}

.main-nav-item a {
  background-color: #1f568f;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  margin: auto;
}

.main-nav-item *:hover {
  background-color: #f6be0e;
  color: #141315;
  transition: 500ms ease-in;
}

.main-header .checkbox {
  position: absolute;
  display: block;
  height: 4rem;
  width: 3rem;
  top: 0.5rem;
  left: 1rem;
  opacity: 0;
  z-index: 100;
  cursor: pointer;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  background-color: #966f33;
  width: fit-content;
  height: 30rem;
  z-index: 75;
  box-shadow: 4px 4px 8px #141315;
  position: fixed;
  left: 0;
  top: 5rem;
  transform: translateX(-150%);
  transition: transform 500ms ease-in-out;
}

.mobile-nav-items {
  list-style: none;
  /* background-color: hotpink; */
}
.mobile-nav-items a {
  text-decoration: none;
  font-size: larger;
  color: #141315;
}

.mobile-nav-item:hover {
  background-color: #808076;
}

.mobile-nav-item {
  padding: 1rem;
  border: 2px solid #141315;
  box-shadow: inset 0px 0px 8px 2px #141315;
}

.mobile-nav-items li + li {
  border-top: none;
}

.burger-menu-button .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.burger-menu-button .line2 {
  transition: transform 0.2s ease-in-out;
}
.burger-menu-button .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

#burger-button:checked ~ .mobile-nav {
  transform: translateX(0);
}
#burger-button:checked ~ .burger-logo-container .burger-menu-button .line1 {
  transform: rotate(45deg);
}
#burger-button:checked ~ .burger-logo-container .burger-menu-button .line2 {
  transform: scaleY(0);
}
#burger-button:checked ~ .burger-logo-container .burger-menu-button .line3 {
  transform: rotate(-45deg);
}
#burger-button:checked ~ .backdrop {
  display: block;
  opacity: 0.2;
}

.backdrop {
  display: none;
  position: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background: #141315;
  transition: opacity 200ms linear;
}

/* ---------------------FOOTER----------------------------------- */
.input-container {
  display: flex;
  gap: 0.5rem;
}

.input-container input {
  padding-left: 0.2rem;
}

.mail-input::placeholder {
  color: rgb(212, 208, 208);
}
.mail-input:focus {
  box-shadow: inset 0px 0px 1px 1px #1f568f;
}

.sub-button {
  background-color: #aa1b1b;
  padding: 0.5rem;
  border-radius: 8px;
}

.footer-logos-container {
  display: flex;
  justify-content: space-evenly;
}

.socials-logo {
  display: flex;
  filter: invert(100%) sepia(0%) saturate(100000%) hue-rotate(0deg)
    brightness(10000%) contrast(200%);
  height: 30px;
}

.socials-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
}

.socials-container > h4 {
  color: white;
}

.footer-links-container {
  margin: 1rem;
  display: none;
}

.footer-links-items {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
}

.footer-links-items a {
  text-decoration: none;
  color: white;
}

.footer-container {
  background-color: #141315;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative;
  left: 0;
  right: 0;
  bottom: 0; */
  height: auto;
}

/* footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 1rem;
} */

@media (min-width: 700px) {
  .main-nav-container {
    display: block;
  }
  .burger-menu-button {
    display: none;
  }
  .main-header .checkbox {
    display: none;
  }
  .mobile-nav {
    visibility: hidden;
  }
  .footer-links-container {
    display: block;
  }
  .footer-container {
    justify-content: space-between;
  }
}
