.slideshow-container {
  position: relative;
  top: 1rem;
  max-width: 700px;
  background-color: red;
  border: 1px solid #143115;
  overflow: hidden;
}

.slide-nav {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}

.slide-nav .slide-dot {
  height: 10px;
  width: 45px;
  background-color: #143115;
  cursor: pointer;
  border: 2px solid white;
  margin-left: 8px;
  box-shadow: 2px 2px 6px white, -2px -2px 6px white;
}

.slide-nav .slide-dot:hover {
  background-color: white;
}

input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.slides-icons {
  display: flex;
  height: 100%;
  width: 500%;
}

.image {
  width: 20%;
  transition: 400ms ease;
}
.image img {
  width: 100%;
  height: 100%;
}

#slide-btn1:checked ~ .first {
  margin-left: 0;
}
#slide-btn2:checked ~ .first {
  margin-left: -20%;
}
#slide-btn3:checked ~ .first {
  margin-left: -40%;
}
#slide-btn4:checked ~ .first {
  margin-left: -60%;
}
#slide-btn5:checked ~ .first {
  margin-left: -80%;
}

.big-logo {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.big-logo img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 4px #143115;
}

.earmuff-big-pic-container {
  display: none;
  justify-content: center;
}
.earmuff-big-pic-container img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 4px #143115;
}

.earmuff-slideshow-container {
  position: relative;
  bottom: 1rem;
  max-width: 700px;
  background-color: red;
  border: 1px solid #143115;
  overflow: hidden;
}

.earmuff-slide-nav {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}
.earmuff-slide-nav .earmuff-slide-dot {
  height: 10px;
  width: 45px;
  background-color: #143115;
  cursor: pointer;
  border: 2px solid white;
  margin-left: 8px;
  box-shadow: 2px 2px 6px white, -2px -2px 6px white;
}

.earmuff-slide-nav .earmuff-slide-dot:hover {
  background-color: white;
}

.earmuff-radio {
  position: absolute;
  visibility: hidden;
}

.earmuff-slides-icons {
  display: flex;
  height: 100%;
  width: 500%;
}

.earmuff-image {
  width: 20%;
  transition: 400ms ease;
}
.earmuff-image img {
  width: 100%;
  height: 100%;
}

#earmuff-btn1:checked ~ .earmuff-first {
  margin-left: 0;
}
#earmuff-btn2:checked ~ .earmuff-first {
  margin-left: -20%;
}
#earmuff-btn3:checked ~ .earmuff-first {
  margin-left: -40%;
}

/* MEDIA QUERIES */

@media (min-width: 700px) {
  .slideshow-container,
  .earmuff-slideshow-container {
    min-width: 627px;
    max-width: 1000px;
    left: 50%;
    transform: translate(-50%);
  }
}

@media (min-width: 1000px) {
  .earmuff-slideshow-container {
    display: none;
  }
  .earmuff-big-pic-container {
    display: flex;
  }
}
